@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.tests-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    gap: 25px;
    padding-bottom: 30px;

    &__space {
        display: flex;
        align-items: center;
        height: 100px;
    }
}
