@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 73vh;
    gap: 25px;
    padding-bottom: 30px;
}
