@import "../../assets/styles/colors.scss";
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";
.test-card {
    width: 100%;
    height: 100px;
    padding: 20px;
    background: $white;
    border-radius: $baseBorder;
    @include baseShadow;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 18px;
        }

        div {
            display: flex;
            align-items: center;
            width: 25%;
        }

        &__icon {
            cursor: pointer;
        }
    }
}

.not-active {
    opacity: 0.6;
}
