@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 120px;
    background: $white;
    border-radius: $baseBorder $baseBorder 0px 0px;
    padding: 15px;
    @include baseShadow;

    &__logo {
        @include headerFont;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }

    &__copyright {
        font-size: 17px;
    }
}
