@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;700&family=Righteous&family=Roboto:wght@300;400;500;700&display=swap");
@import "./assets/styles/colors.scss";
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: $black;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

@media screen and (max-width: 1300px) {
    .container {
        margin: 0 auto;
        width: 90vw;
    }
}
